main {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  min-height: 80.8vh;
}

.visually-hidden {
  visibility: hidden;
}

/* .carousel-control-next-icon {
  background-color: black;
}

.carousel-control-prev-icon {
  background-color: black;
} */

/* .carousel-indicators {
  visibility: hidden;
} */

.dropdown-toggle {
  visibility: hidden;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

/* Carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}

.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
}

.carousel a {
  margin: 0 auto;
}

.icon-size {
  font-size: 17px;
}

.icon-padding {
  padding-right: 0.7rem;
}

.icon-margin {
  margin-left: 15px;
}

/* ___ */

.userImg {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.showImage {
  visibility: visible;
}

.messages {
  margin-top: 4.5px;
  font-weight: 500;
  margin-inline: 4px;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.55);
}

.userName {
  margin-top: 13px;
  font-weight: 500;
  margin-inline: 4px;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.55);
}

.userName-align {
  margin-top: -1.8rem;
  padding-bottom: 1rem;
  margin-left: 3rem;
}

.adminName-align {
  margin-top: -4rem;
}

.logoImage {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  border-radius: 5%;
}
